body {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

form, h1, ul {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
